body{
    margin: 0;
    padding: 0;
}
nav
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
}
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.content
{
    margin: 0;
    padding: 0;
}
.content .groupInfo
{
    margin: 40px auto 0;
    padding: 0;
    width: 80%;
    box-shadow: 1px 1px 6px gray;
}
.groupInfo .groupName
{
    padding-top: 16px;
    padding-bottom: 16px;
    width: 90%;
    margin: 0 0 0 5%;
    height: 30px;
    font-size: 22px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.groupInfo .characteristic
{
    margin: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    text-align: left;
}
.characteristic .subTitle
{
    margin: 0 0 0 5%;
    padding-bottom: 8px;
    width: 90%;
    height: 30px;
    font-size: 18px;
    color: #242F33;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.characteristic .description
{
    margin: 0 0 0 5%;
    width: 90%;
    height: 150px;
    font-size: 16px;
    color: #5e5e5a;
    letter-spacing: 1px;
    line-height: 1.6em;
    overflow: hidden;
}
.groupInfo .detail
{
    margin: 0;
    padding-top: 14px;
    padding-bottom: 16px;
}
.detail .detailImg
{
    width: 85%;
    margin-left: 5%;
    height: 700px;
}
.groupInfo .route
{
    margin: 0;
    padding-top: 14px;
    padding-bottom: 16px;
}
.route .routeImg
{
    width: 85%;
    margin-left: 5%;
    height: 700px;
    margin-bottom: 18px;
}
.content .signUp
{
    margin: 40px auto 0;
    padding: 20px 0;
    width: 80%;
    box-shadow: 1px 1px 6px gray;
    display: block;
}
.signUp form
{
    margin-bottom: 0;
}
.signUp .column
{
    display: inline-block;
    width: 32%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}
.column .info-label
{
    color: #333333;
}
.column .userInfo
{
    height: 50%;
    color: black;
    font-size: 16px;
    outline: none;
    border: 0;
    box-shadow: 1px 1px 5px #9199a1;
    text-align: center;
}
.column .submit
{
    position: relative;
    top: 30%;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    background-color: #242F33;
    font-size: 16px;
    border: 0;
    color: white;
    outline: none;
}
.signUp .submit:hover
{
    position: relative;
    width: 59%;
    top: 31%;
    background-color: #131e1f;
}
.content .comment
{
    margin: 40px auto 0;
    padding: 0;
    width: 80%;
    box-shadow: 1px 1px 6px gray;
    display: block;
}
.comment .subTitle
{
    margin: 0 0 0 2%;
    padding-top: 8px;
    padding-bottom: 24px;
    width: 96%;
    height: 30px;
    font-size: 18px;
    color: #242F33;
}
.comment .show
{
    border-top: 1px #e0e0e0 solid;
    width: 96%;
    margin-left: 2%;
    padding: 14px 12px 14px 0;
    color: #494949;
}
.show .head
{
    margin: 0;
    padding-bottom:8px;
    height: 20px;
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
.head span
{
    margin-right: 10px;
}
.show .body
{
    height: 100px;
    margin: 0;
    text-align: left;
    overflow: hidden;
    font-size: 15px;
}

.comment .write
{
    width: 96%;
    margin-left: 2%;
    padding: 14px 12px 14px 0;
    height: 150px;
}
.write .authorizedUsers
{
    position: absolute;
    z-index: 1;
    border: 0;
    margin-top: -25px;
    opacity: 0;
}
.write .text
{
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    padding: 2px;
    border: 2px #e0e0e0 solid;
    color: #494949;
    font-size: 15px;
    outline: none;
    resize: none;
    overflow: hidden;
}
.write .author
{
    border: 0;
    border-bottom: 1px #e0e0e0 solid;
    width: 80px;
    height: 30px;
    color: #494949;
    float: right;
    text-align: center;
    font-size: 16px;
}
.write .submit
{
    width: 100px;
    height: 30px;
    float: right;
    border-radius: 20px;
    background-color: #242F33;
    font-size: 15px;
    border: 0;
    color: white;
    outline: none;
    text-align: center;
}
.write .submit:hover
{
    position: relative;
    width: 98px;
    background-color: #131e1f;
}
footer
{
    margin: 50px 0 0;
    padding: 0;
    width: 100%;
    height: 60px;
}

