body{
    margin: 0;
    padding: 0;
}
nav
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: #242F33;
}
nav ul
{
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}
nav li
{
    float: left;
    margin: 0;
    width: 16.6%;
    height: 100%;
    text-align: center;
}
nav a
{
    color: rgba(255, 255, 255, .6);
    line-height: 120px;
    font-size: 18px;
    text-decoration-line: none;
}
nav a.on
{
    font-size: 20px;
    color: white;
}
nav a:hover
{
    font-size: 20px;
    color: white;
}
.content
{
    margin: 0;
    padding: 0;
}
.rotationPlay
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 520px;
    box-sizing: border-box;
    overflow: hidden;
}
.rotationPlay ul
{
    width: 6350px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: rotationPlay 15s infinite linear;
}
.rotationPlay li
{
    width: 20%;
    height: 100%;
    float: left;

}
.rotationPlay img
{
    width: 100%;
    height: 100%;
}
@keyframes rotationPlay
{
    0%, 20%
    {
        margin-left: 0;
    }
    21%, 40%
    {
        margin-left: -1270px;
    }
    41%, 60%
    {
        margin-left: -2540px;
    }
    61%, 80%
    {
        margin-left: -3810px;
    }
    81%, 100%
    {
        margin-left: -5080px;
    }
}
.register
{
    z-index: 1;
    position: fixed;
    top: 160px;
    left: 450px;
    width: 380px;
    height: 330px;
    background-color: white;
    border-radius: 12px;
    display: none;
}
.form-header
{
    margin: 0;
    padding: 10px 10px;
    height: 30px;
}
.form-header h4
{
    float: left;
    margin: 0;
    padding: 0;
    color: #787d82;
    font-size: 16px;
}
.form-header button
{
    float: right;
    padding: 0;
    background-color: white;
    border: 0;
    color: #787d82;
    font-size: 16px;
    outline: none;
}
.form-header button:hover
{
    font-size: 18px;
    color: #242F33;
}
.form-group
{
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
}
.form-group input
{
    padding: 0;
    width: 80%;
    height: 80%;
    background-color: rgba(28, 31, 33, .06);
    border-radius: 8px;
    border: 0;
    font-size: 14px;
}
.form-group input:focus
{
    outline: none;
}
.form-group a
{
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #9199a1;
    margin-right: 10px;
}
.form-group a:hover
{
    color: #5e5e5a;
    outline: none;
}
.form-group button
{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #242F33;
    border: 0;
    font-size: 16px;
    color: white;
    outline: none;
}
.form-group button:hover
{
    position: relative;
    width: 79%;
    top: 1px;
    background-color: #131e1f;
}
.login
{
    z-index: 1;
    position: fixed;
    top: 160px;
    left: 450px;
    width: 380px;
    height: 280px;
    background-color: white;
    border-radius: 12px;
    display: none;
}
footer
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
}
footer iframe
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}