body{
    margin: 0;
    padding: 0;
}
nav
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px;
}
iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.content
{
    margin: 40px auto 0;
    width: 90%;
    box-shadow: 1px 1px 6px gray;
    padding-bottom: 50px;
}
.content .myGroup, .myNote, .noteViewed
{
    width: 96%;
    margin-left: 2%;
}
.subTitle
{
    padding-top: 30px;
    padding-bottom: 12px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #787d82;
    border-bottom: 1px #d0d6d9 solid;
}
.group, .note
{
    width: 84%;
    height: 120px;
    margin-left: 8%;
    padding: 30px 0 30px 0;
    border-bottom: 1px #eff1f0 solid;
}
.cover
{
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    text-decoration: none;
}
.image
{
    width: 100%;
    height: 100%;
}
.title
{
    display: inline-block;
    width: 75%;
    height: 30%;
    float: right;
    color: #78a5f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.group .priceANumber
{
    width: 75%;
    float: right;
    padding-bottom: 8px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #9199a1;
}
.priceANumber .price
{
    margin-right: 18px;
}
.group .time
{
    width: 75%;
    float: right;
    padding-bottom: 8px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #9199a1;
}
.group .users
{
    width: 75%;
    float: right;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #9199a1;
}
.users .user
{
    margin-left: 10px;
}
.noRecord
{
    width: 84%;
    height: 120px;
    margin-left: 8%;
    padding: 30px 0 30px 0;
    text-align: left;
    overflow: hidden;
    font-size: 15px;
    color: #9199a1;
}
.note .description
{
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    width: 75%;
    height: 65%;
    color: #9199a1;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
footer
{
    margin: 50px 0 0;
    padding: 0;
    width: 100%;
    height: 60px;
}
